<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌管理</title>
    <!-- css的引入 -->
    <link rel="stylesheet" href="../css/elementui.css">
</head>
<body>
<div id="app">
    <el-form :inline="true">
       <el-form-item label="品牌名称">
           <el-input placeholder="品牌名称" v-model="searchMap.name"></el-input>
       </el-form-item>
        <el-form-item label="品牌首字母">
            <el-input placeholder="品牌首字母" v-model="searchMap.letter"></el-input>
        </el-form-item>
        <el-button type="primary" @click="fetchDatas">查询</el-button>
<!--        <el-button @click="resetForm('ruleForm')">重置</el-button>-->


    </el-form>
    <el-table
            :data="tableData"
            border
            style="width: 100%">
        <el-table-column
                prop="id"
                label="ID"
                width="180">
        </el-table-column>
        <el-table-column
                prop="name"
                label="名称"
                width="180">
        </el-table-column>
        <el-table-column
                prop="letter"
                label="首字母">
        </el-table-column>
        <el-table-column
                label="图片"
                width="180">
            <template slot-scope="scope">
                <img :src="scope.row.image">
            </template>
        </el-table-column>
    </el-table>
    <!-- size-change pagesize（每页的记录数）改变时会触发
         current-change currentPage（当前页）改变时会触发
         current-page 当前的页数-->
    <el-pagination
            @size-change="fetchData"
            @current-change="fetchData"
            :current-page.sync="currentPage"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="size"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
    </el-pagination>

</div>
</body>
<!-- js的引入 -->
<script src="../js/vue.js"></script>
<script src="../js/elementui.js"></script>
<script src="../js/axios.js"></script>
<script>

    new Vue({
        el:"#app",
        data(){
            // 不使用return包裹的数据会在项目的全局可见，会造成变量的污染，
            // 使用return包裹后数据的变量只在当前的组件中生效，不会影响其他的组件
            return {
                tableData:[],
                currentPage:1,
                size:10,
                total:10,
                searchMap:{
                    "name":null,
                    "letter":null
                }
            }
        },
        created(){
            // // 使用回调函数function this不指向vue实例
            // axios.get('/brand/findAll.do').then(response => {
            //     // alert(JSON.stringify(response));
            //     this.tableData=response.data;
            //})
            this.fetchData()
        },
        methods:{
            // 分页查询
            fetchData(){
                // axios.get('/brand/findPage.do?page='+ this.currentPage +'&size=' + this.size)
                // es6
                axios.get(`/brand/findPage.do?page=${this.currentPage}&size=${this.size}`).then(response => {
                    this.tableData = response.data.rows;
                    this.total = response.data.total;

                })

            },
            // 条件分页查询
            fetchDatas(){
                // axios.get('/brand/findPage.do?page='+ this.currentPage +'&size=' + this.size)
                // es6
                axios.post(`/brand/findPage.do?page=${this.currentPage}&size=${this.size}`,this.searchMap).then(response => {
                    this.tableData = response.data.rows;
                    this.total = response.data.total;

                })

            }
        }

    })




</script>
</html>